body {
    max-width: 100%;
}

.bgImg {
    background-image: url('./images/background4.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
}

.aboutContainer {
    display: flex;
    flex-direction: column;
    margin: 5%;
    background-color: rgba(231, 234, 237, 0.61);
    border-radius: 20px;
    padding: 10px;
    align-items: center;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: rgb(0, 0, 0);
}

p {
    font: .5rem;   
}

h4 {
    font-size: 1.5rem;
    margin-left: 1rem;
    color: rgb(0, 0, 0);
}

.list {
    display: block;
    justify-content: center;
}

ul {
    margin-top: -20px;
}

a {
    font-size: 1.75rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

footer {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.5rem;
    margin-top: 20px;
}