body {
    max-width: 100vw;
    max-height: 100vh;
}

.bgImg {
    background-image: url('./images/background4.webp');
    background-size: cover;
    background-position: center;
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
}

.aboutContainer {
    display: flex;
    flex-direction: column;
    margin: 5%;
    background-color: rgba(231, 234, 237, 0.61);
    border-radius: 20px;
    padding: 10px;
    align-items: center;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: rgb(0, 0, 0);
}

p {
    font: .5rem;   
}

h4 {
    font-size: 1.5rem;
    margin-left: 1rem;
    color: rgb(0, 0, 0);
}

.list {
    display: block;
    justify-content: center;
}

ul {
    margin-top: -20px;
}

a {
    font-size: 1.2rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover {
    color: #e91313;
}

a:active {
    color: #118c36;
}

footer {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1rem;
}

@media screen and (min-width: 480px) and (max-width: 1000px) {
    h3 {
        font-size: 2rem;
    }
    h4 {
        font-size: 2rem;
    }
    p {
        font-size: 1.2rem;
    }
    li {
        font-size: 1.3rem;
    }
    footer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 16%;
    }
    a {
        font-size: 2.5rem;
    }
}

@media screen and (min-device-width: 1001px) and (max-device-width: 1300px) {
    a {
        font-size: 2rem;
    }
    .list {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    h4 {
        font-size: 3rem;
        padding-bottom: 6%;
        margin-left: -2%;
    }  
}